@model List<LectureWithInstructorVM>
@{
    ViewData["Title"] = "GetAll";
}

<h1>المحاضرات</h1>

<a class="btn btn-secondary" asp-action="New" asp-controller="Lecture" asp-route-CrsID="@Model.FirstOrDefault()?.CrsID">إضافة</a>

<table class="table table-hover table-bordered">
    <tr>
        <th>ID</th>
        <th>اسم المحاضرة</th>
        <th>تاريخ الإضافة</th>
        <th>الوصف</th>
        <th>عرض</th>
        <th>تعديل</th>
        <th>حذف</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>@item.LctID</td>
            <td>@item.Title</td>
            <td>@item.LctTime</td>
            <td>@item.Description</td>
            <td>
                <a class="btn btn-success" asp-action="Details" asp-controller="Lecture" asp-route-id="@item.LctID">عرض</a>
            </td>
            <td>
                <a class="btn btn-primary" asp-action="Edit" asp-controller="Lecture" asp-route-id="@item.LctID">تعديل</a>
            </td>
            <td>
                <button class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteModal"
                        onclick="setDeleteId(@item.LctID)">
                    حذف
                </button>
            </td>
        </tr>
    }
</table>



